body {
	font-family: Helvetica;
	background-image: url('tile.jpg');
	background-color: white;
	font-size: 20px;
	font-weight: lighter;
}

h1 {
	text-align: center;
	font-weight: normal;
}

div.face {
	background-image: url('face.jpg');
	width:256px;
	height:256px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 256px 256px;
    border-radius: 50%;
	margin: 0 auto;
	border: 2px solid #233;
}

p {
	padding-top: 1em;
}

a {
	color: #666;
	text-decoration-line: underline;
	text-decoration-style: dotted;
}

.bio {
	max-width: 600px;
	margin: 0 auto;
}

.navcontainer ul {
	padding: .2em 0;
	margin: 0;
	width: 100%;
	text-align: center;
	bottom: 20px;
}

strong {
	font-weight: normal;
}